*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
}

.color-orange{
    color: #FD6E0A; 
    font-weight: 900;

}

.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    height: 65px;
    width:150px ;
    border: none;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    font-weight: bold;
    
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
  
}
nav{
      margin: 0 auto;
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;



}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}